/MusicStore.suo
/MusicStore.DTO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MusicStore.Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MusicStore.Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MusicStore.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MusicStore.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MusicStore.Service/obj/Debug/MusicStore.Service.csprojResolveAssemblyReference.cache
/MusicStore.Service/Bin/AutoMapper.dll
/MusicStore.Repository/bin/Debug/Iesi.Collections.dll
/MusicStore.Service/Bin/Iesi.Collections.dll
/MusicStore.Web/bin/Iesi.Collections.dll
/MusicStore.Web/bin/Microsoft.Web.Infrastructure.dll
/MusicStore.DTO/bin/Debug/MusicStore.DTO.dll
/MusicStore.DTO/obj/Debug/MusicStore.DTO.dll
/MusicStore.Service/Bin/MusicStore.DTO.dll
/MusicStore.Models/bin/Debug/MusicStore.Models.dll
/MusicStore.Models/obj/Debug/MusicStore.Models.dll
/MusicStore.Service/Bin/MusicStore.Models.dll
/MusicStore.Repository/bin/Debug/MusicStore.Repository.dll
/MusicStore.Repository/obj/Debug/MusicStore.Repository.dll
/MusicStore.Service/Bin/MusicStore.Repository.dll
/MusicStore.Service/Bin/MusicStore.Service.dll
/MusicStore.Service/obj/Debug/MusicStore.Service.dll
/MusicStore.Web/bin/MusicStore.Web.dll
/MusicStore.Web/obj/Debug/MusicStore.Web.dll
/MusicStore.Web/bin/Newtonsoft.Json.dll
/MusicStore.Repository/bin/Debug/NHibernate.dll
/MusicStore.Service/Bin/NHibernate.dll
/MusicStore.Service/Bin/Ninject.dll
/MusicStore.Web/bin/Ninject.dll
/MusicStore.Service/Bin/Ninject.Extensions.Wcf.dll
/MusicStore.Service/Bin/Ninject.Web.Common.dll
/MusicStore.Web/bin/Ninject.Web.Common.dll
/MusicStore.Web/bin/Ninject.Web.Mvc.dll
/MusicStore.Web/bin/System.Net.Http.dll
/MusicStore.Web/bin/System.Net.Http.Formatting.dll
/MusicStore.Web/bin/System.Net.Http.WebRequest.dll
/MusicStore.Web/bin/System.Web.Helpers.dll
/MusicStore.Web/bin/System.Web.Http.dll
/MusicStore.Web/bin/System.Web.Http.WebHost.dll
/MusicStore.Web/bin/System.Web.Mvc.dll
/MusicStore.Web/bin/System.Web.Razor.dll
/MusicStore.Web/bin/System.Web.WebPages.Deployment.dll
/MusicStore.Web/bin/System.Web.WebPages.dll
/MusicStore.Web/bin/System.Web.WebPages.Razor.dll
/MusicStore.Web/bin/WebActivator.dll
/MusicStore.DTO/bin/Debug/MusicStore.DTO.pdb
/MusicStore.DTO/obj/Debug/MusicStore.DTO.pdb
/MusicStore.Service/Bin/MusicStore.DTO.pdb
/MusicStore.Models/bin/Debug/MusicStore.Models.pdb
/MusicStore.Models/obj/Debug/MusicStore.Models.pdb
/MusicStore.Service/Bin/MusicStore.Models.pdb
/MusicStore.Repository/bin/Debug/MusicStore.Repository.pdb
/MusicStore.Repository/obj/Debug/MusicStore.Repository.pdb
/MusicStore.Service/Bin/MusicStore.Repository.pdb
/MusicStore.Service/Bin/MusicStore.Service.pdb
/MusicStore.Service/obj/Debug/MusicStore.Service.pdb
/MusicStore.Web/bin/MusicStore.Web.pdb
/MusicStore.Web/obj/Debug/MusicStore.Web.pdb
/MusicStore.Service/Bin/Ninject.Extensions.Wcf.pdb
/MusicStore.Service/Bin/Ninject.pdb
/MusicStore.Web/bin/Ninject.pdb
/MusicStore.Service/Bin/Ninject.Web.Common.pdb
/MusicStore.Web/bin/Ninject.Web.Common.pdb
/MusicStore.Web/bin/Ninject.Web.Mvc.pdb
/MusicStore.DTO/obj/Debug/MusicStore.DTO.csproj.FileListAbsolute.txt
/MusicStore.Models/obj/Debug/MusicStore.Models.csproj.FileListAbsolute.txt
/MusicStore.Repository/obj/Debug/MusicStore.Repository.csproj.FileListAbsolute.txt
/MusicStore.Service/obj/Debug/MusicStore.Service.csproj.FileListAbsolute.txt
/MusicStore.Web/obj/Debug/MusicStore.Web.csproj.FileListAbsolute.txt
/MusicStore.Service/Bin/AutoMapper.xml
/MusicStore.Repository/bin/Debug/hibernate.cfg.xml
/MusicStore.Service/Bin/hibernate.cfg.xml
/MusicStore.Repository/bin/Debug/Iesi.Collections.xml
/MusicStore.Service/Bin/Iesi.Collections.xml
/MusicStore.Web/bin/Iesi.Collections.xml
/MusicStore.Web/bin/Newtonsoft.Json.xml
/MusicStore.Repository/bin/Debug/NHibernate.xml
/MusicStore.Service/Bin/NHibernate.xml
/MusicStore.Service/Bin/Ninject.Extensions.Wcf.xml
/MusicStore.Service/Bin/Ninject.Web.Common.xml
/MusicStore.Web/bin/Ninject.Web.Common.xml
/MusicStore.Web/bin/Ninject.Web.Mvc.xml
/MusicStore.Service/Bin/Ninject.xml
/MusicStore.Web/bin/Ninject.xml
/MusicStore.Web/bin/System.Net.Http.Formatting.xml
/MusicStore.Web/bin/System.Net.Http.WebRequest.xml
/MusicStore.Web/bin/System.Net.Http.xml
/MusicStore.Web/bin/System.Web.Helpers.xml
/MusicStore.Web/bin/System.Web.Http.WebHost.xml
/MusicStore.Web/bin/System.Web.Http.xml
/MusicStore.Web/bin/System.Web.Mvc.xml
/MusicStore.Web/bin/System.Web.Razor.xml
/MusicStore.Web/bin/System.Web.WebPages.Deployment.xml
/MusicStore.Web/bin/System.Web.WebPages.Razor.xml
/MusicStore.Web/bin/System.Web.WebPages.xml
